<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title widget-title">最新文章</h3>
    </div>
    <div class="panel-body">
        <div class="widget widget-recent-posts">
            <ul>
                {% for post in recent_post_list %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                {% empty %}
                    暂无文章
                {% endfor %}
            </ul>
        </div>
    </div>
</div>